[user]
  name = Marcos Moura
  email = marcosvmmoura@gmail.com

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[alias]
  # List aliases
  aliases = config --get-regexp alias

  # View the current working tree status using the short format
  s = status
  ss = status -s

  # Discard local changes
  discard = checkout -- .

  # Pull in remote changes for the current repository and all its submodules
  p = !"git pull; git submodule foreach git pull origin master"

  # Sync current branch with remote fork
  sync-fork = !zsh ~/.config/zsh/modules/git/scripts/sync-fork.zsh

  # Push to origin
  po = push -u

  # Shortcut to merge
  m = merge --no-ff

  # View abbreviated SHA, author, date and description of the latest 25 commits
  l = !zsh ~/.config/zsh/modules/git/scripts/better-log.zsh

  # Log Commits by name
  fm = !zsh ~/.config/zsh/modules/git/scripts/find-commit-by-message.zsh

  # Log Commits by path
  fc = !zsh ~/.config/zsh/modules/git/scripts/find-commit-by-path.zsh

  # Get log graph
  graph = log --abbrev-commit --color --graph

  # Show the diff between the latest commit and the current state
  d = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"

  # Clone a repository including all submodules
  c = clone --recursive

  # Checkout branch
  ck = checkout
  ckb = checkout -b
  go = checkout

  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v

  # Shortcut to commit with message
  cm = commit -m

  # Commit all changes
  ca = !git add -A && git commit -m

  # Rename latest commit
  rename = commit --amend -m

  # Amend the currently staged files to the latest commit
  add-to-last-commit = commit --amend --reuse-message=HEAD

  # Credit an author on the latest commit
  give-credit = !zsh ~/.config/zsh/modules/git/scripts/commit-with-credits.zsh

  # Remove all "merged" branches
  delete-merged = !zsh ~/.config/zsh/modules/git/scripts/delete-merged.zsh

  # List contributors with number of commits
  contributors = shortlog --summary --numbered

[apply]
  whitespace = fix

[push]
  default = current
  followTags = true

[pull]
  rebase = true

[mergetool]
  keepTemporaries = false
  prompt = false

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true
  tool = code
  conflictstyle = diff3

[help]
  autocorrect = 1

[diff]
  colorMoved = default
  renames = copies
  renameLimit = 1644

[diff "bin"]
  textconv = hexdump -v -C

[color]
  ui = true

[color "status"]
  added = cyan bold
  branch = cyan bold
  changed = magenta bold
  deleted = red bold
  untracked = yellow bold

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta bold
  old = red bold
  new = green bold
  commit = yellow bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[core]
  pager = delta
  attributesfile = ~/.gitattributes
  editor = lvim
  excludesfile = ~/.gitignore
  precomposeunicode = false
  trustctime = false
  untrackedCache = true
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[format]
  pretty = %C(yellow bold)%h%Creset -%C(magenta)%d%Creset %s %C(blue bold)(%cr) %C(green bold)<%an>%Creset

[log]
  abbrevCommit = true
  date = relative
  graph = true

[advice]
  statusHints = false

# URL shorthands

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
  insteadOf = "github:"

[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
  insteadOf = "gist:"

[init]
	defaultBranch = main

[delta]
  navigate = true
  side-by-side = true
  line-numbers = true

[interactive]
  diffFilter = delta --color-only
