layout {
  pane_template {
    name "fluent-pane"
    cwd "~/Projects/personal/dotfiles"
  }

  tab name="editor" {
    pane split_direction="vertical" {
      fluent-pane {
        name "neovim"
        command "/opt/homebrew/bin/nvim"
        args "."
      }

      pane {
        name "file explorer"
        command "/opt/homebrew/bin/yazi"
        args "--client-id" "999"
        size 45
      }
    }
  }

  tab name="terminal" {
    pane split_direction="vertical" {
      fluent-pane name=""
      fluent-pane name=""
    }
  }

  default_tab_template {
    pane borderless=true size=1 {
      plugin location="custom_status_bar"
    }
    children
  }
}
