layout {
  pane_template {
    name "fluent-pane"
    cwd "~/Projects/personal/dotfiles"
  }

  pane_template {
    name "status_bar"
    plugin location="custom_status_bar"
    borderless true
  }

  tab name="editor" {
    fluent-pane {
      name "neovim"
      command "/opt/homebrew/bin/nvim"
      args "."
      borderless true
    }
  }

  tab name="terminal" {
    pane split_direction="vertical" {
      fluent-pane name="terminal"
      fluent-pane name="terminal"
    }
  }

  default_tab_template {
    status_bar size="1"
    children
  }
}
