layout {
  pane_template {
    name "fluent-pane"
    cwd "~/Projects/personal/dotfiles"
  }

  tab name="editor" {
    fluent-pane {
      name "neovim"
      command "/opt/homebrew/bin/nvim"
      args "."
    }
  }

  tab name="terminal" {
    pane split_direction="vertical" {
      fluent-pane name=""
      fluent-pane name=""
    }
  }

  default_tab_template {
    pane borderless=true size=1 {
      plugin location="custom_status_bar"
    }
    children
  }
}
