layout {
  pane_template {
    name "fluent-pane"
    cwd "~/Projects/fluent/fluentui"
  }

  tab name="editor" {
    fluent-pane {
      name ""
      command "/opt/homebrew/bin/nvim"
      args "."
      borderless true
    }
  }

  tab name="terminal" {
    pane split_direction="vertical" {
      fluent-pane name=""
      fluent-pane name=""
    }
  }

  tab name="git" {
    fluent-pane {
      name ""
      command "/opt/homebrew/bin/lazygit"
      borderless true
    }
  }

  tab name="gh" {
    fluent-pane {
      name ""
      command "/opt/homebrew/bin/gh"
      args "dash"
      borderless true
    }
  }

  default_tab_template {
    pane borderless=true size=1 {
      plugin location="custom_status_bar"
    }
    children
  }
}
